<link rel="stylesheet" href="/css/similar.css">
<div class="cnt">
  <div class="logo">
    <img src="/images/Farmly.png" class="img_logo" alt="" />
  </div>
  <div class="sign">
    <h1>FARM MATE</h1>
    <form action="/login" method="post">
      <label for="Phone Number">Phone Number</label>
      <input type="text" name="mobile" />
      <label for="">Password</label>
      <input type="password" name="phone" />

      <a href="#">Forget Password</a>

      <button class="sub">LOG IN</button>
    </form>
  </div>
</div>